---
layout: default
title: Deepu K Sasidharan
comments: false
author: deepu
---

<div class="row justify-content-between pt-4">
  <div class="col-md-8 pr-5">
    <section class="featured-posts pb-3">
      <div class="row">
          <div class="col-md-3 text-center pb-sm-5">
                <img class="profile-pic" src="https://www.gravatar.com/avatar/7f408bc67dc9ae3b288ee92d16d3c4c2?s=250&d=mm&r=x" alt="Deepu K Sasidharan">
          </div>
          <div class="col">
              <p>
                  I'm a Software Designer by passion & profession. I'm also the co-lead of <a href="https://jhipster.tech" target="_blank">JHipster</a>.<br/>
                  My expertise includes solution ideation, visualization, and prototyping.
                  I code using various Languages like Java, JavaScript, TypeScript, Go, Python and so on.<br/>
                  I'm an open-source software aficionado and a technology advocate by passion.
                  I'm also passionate about developer experience and user experience. <br/>
                  I also love Astronomy, Quadcopters, and Robotics.
                  I have authored a book on JHipster and write frequently about Java, JavaScript, Go, CloudNative and so on.
              </p>
          </div>
      </div>
    </section>
    <!-- Book ================================================= -->
    <section class="featured-posts">
        <div class="section-title">
            <h2><span>Book</span></h2>
        </div>
        <div>
            <p>
                Full Stack Development with JHipster.
                Get it on
                <a href="https://www.packtpub.com/application-development/full-stack-development-jhipster" target="_blank">Packt</a>,
                <a href="https://www.amazon.com/Stack-Development-JHipster-Deepu-Sasidharan/dp/178847631X" target="_blank">Amazon</a> and
                <a href="https://www.safaribooksonline.com/library/view/full-stack-development/9781788476317/" target="_blank">Safari</a>.

            </p>
            <p class="mb-5">
              <img
                class="shadow-lg"
                src="{{ site.baseurl }}/assets/images/jhbook-banner.png"
                alt="Full stack development with JHipster"
              />
            </p>
        </div>
    </section>
    <!-- Projects ================================================= -->
    <section class="featured-posts">
        <div class="section-title">
            <h2><span>OSS projects</span></h2>
        </div>
        <div>
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="about-item">
                <a class="project-link" target="_blank" href="http://jhipster.tech/">
                  <h3>JHipster Generator</h3>
                </a>
                <p>
                  A cool generator for Angular/React/VueJS + Spring stack
                </p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="about-item">
                <a class="project-link" target="_blank" href="/angular-clock">
                  <h3>Angular Clock</h3>
                </a>
                <p>
                  A beautiful responsive clock face and clock widget for angular JS.
                  Built in SVG
                </p>
              </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="about-item">
                <a
                  class="project-link"
                  target="_blank"
                  href="https://github.com/jhipster/jhipster-registry"
                >
                  <h3>JHipster Registry</h3>
                </a>
                <p>
                  Service Registry, based on Spring Cloud Netflix Eureka and Spring
                  Cloud Config
                </p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="about-item">
                <a
                  class="project-link"
                  target="_blank"
                  href="https://github.com/hipster-labs/generator-jhipster-entity-audit"
                >
                  <h3>JHipster Entity Audit Generator</h3>
                </a>
                <p>
                  A yeoman generator to enable entity audit in JHipster generated apps
                </p>
              </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="about-item">
                <a
                  class="project-link"
                  target="_blank"
                  href="http://jhipster.github.io/jdl-studio/"
                >
                  <h3>JDL Studio</h3>
                </a>
                <p>An awesome online JDL editor and visualizer</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="about-item">
                <a
                  class="project-link"
                  target="_blank"
                  href="https://github.com/hipster-labs/generator-jhipster-bootswatch"
                >
                  <h3>JHipster Bootswatch Theme Generator</h3>
                </a>
                <p>
                  A yeoman generator to enable Bootswatch themes in JHipster generated
                  apps
                </p>
              </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="about-item">
                <a
                  class="project-link"
                  target="_blank"
                  href="https://github.com/deepu105/angular-object-diff"
                >
                  <h3>Angular Object Diff</h3>
                </a>
                <p>
                  An AngularJS plugin to generate and view object difference
                </p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="about-item">
                <a class="project-link" target="_blank" href="/svg-seq-diagram">
                  <h3>UML and Sequence Diagram Generator</h3>
                </a>
                <p></p>
                <p>
                  A sequence diagram generator using angularJS and an UML Diagram
                  Generator based on PlantUML. Experimental.
                </p>
              </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
          </div>
        </div>
    </section>
  </div>

  <div class="col-md-4">
    <div class="sticky-top sticky-top-80">
        <section class="featured-posts">
            <div class="section-title">
                <h2><span>Follow me on social media</span></h2>
            </div>
            <div class="about-social">
                <a href="https://twitter.com/deepu105">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
                <a href="https://github.com/deepu105">
                    <i class="fab fa-github fa-lg"></i>
                </a>
                <a href="https://www.linkedin.com/in/deepu05">
                    <i class="fab fa-linkedin fa-lg"></i>
                </a>
                <a href="https://dev.to/deepu105">
                    <i class="fab fa-dev fa-lg"></i>
                </a>
                <a href="https://medium.com/@deepu105">
                    <i class="fab fa-medium fa-lg"></i>
                </a>
            </div>
        </section>
      <!-- Featured ================================================= -->
        <section class="featured-posts">
            <div class="section-title">
                <h2><span>Featured posts</span></h2>
            </div>
            <div class="row">

            {% for post in site.posts %}

                {% if post.featured == true %}
                    <div class="col-md-12 mb-30px">
                    {% include featuredbox.html %}
                    </div>
                {% endif %}

            {% endfor %}

            </div>
        </section>
    </div>
  </div>
</div>
