<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>JHipster - A hipster stack for Java developers</title>

    <meta name="description" content="Hipster stack for Java developers. Yeoman + Maven + Spring + AngularJS in one handy generator.">
    <meta name="author" content="Julien Dubois, Deepu KS">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="css/print/' + (window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper') + '.css" type="text/css" media="print">');
    </script>

    <!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
</head>

<body>

    <div class="reveal">

        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">

            <section>
                <h2>Welcome, Java Hipsters!</h2>
                <img src="images/logo-jhipster-drink-coffee.png" style="border:0;box-shadow:none" />
                <h2>JHipster</h2> <h3>Spring + AngularJS + many more in one handy generator</h3>
                <p>
                    <a href="http://jhipster.github.io">http://jhipster.github.io</a>
                </p>
                <!-- <p>
                    Press the right arrow to continue &gt;
                </p> -->
            </section>
            <section>
                <h1>Deepu K Sasidharan</h1>
                <p>
                    Solution Designer @ Tata Consultancy Services
                </p>
                <p>
                    <a href="https://twitter.com/deepu105">@deepu105</a>
                </p>
            </section>

            <!-- <section data-background="#4d7e65" data-background-transition="slide">
                <h1>About this presentation</h1>
                <ul>
                    <li>Hit the left/right arrow to browse to the main sections</li>
                    <li>Hit the up/down arrow to see the slides in each section</li>
                    <li>Hit the "escape" key to see all the slides</li>
                </ul>
            </section> -->

            <section>
                <section data-background="#4d7e65" data-background-transition="slide">
                    <h1>What is this all about?</h1>
                    <h3>Modern Web application development</h3>
                </section>
                <section>
                    <h2>Modern Web apps</h2>
                    <p>End-users requirements have evolved. People are tired of slow, unreactive Web apps. They want:</p>
                    <ul>
                        <li>Beautiful design (Unfortunately we live in a Beauty over Brains world!)</li>
                        <li>Stop waiting for pages to load</li>
                        <li>Dynamic updates of page fragments</li>
                        <li>Quick time to market</li>
                    </ul>
                    <hr/>
                    <h3><i>We need the latest HTML5/CSS3/JavaScript technologies</i></h3>
                </section>
                <section>
                    <h2>Developer productivity</h2>
                    <p>Those webapps should be delivered <i>fast</i>.</p>
                    <p>Waiting 1 minute for your application to "deploy" is not acceptable anymore</p>
                    <hr/>
                    <h3><i>We need the right tools for this job!</i></h3>
                </section>
                <section>
                    <h2>Production-ready software</h2>
                    <p>Modern webapps should be able to handle <i>huge</i> numbers of concurrent users</p>
                    <p>All using massive RESTful applications, which will hit your back-end servers <b>hard</b>
                    </p>
                    <p>It should be production ready out of the box</b>
                    </p>
                    <hr/>
                    <h3><i>We need robust, high-performance servers</i></h3>
                </section>
                <section>
                    <h3><i>Our goal is to solve those issues</i></h3>
                    <hr/>
                    <ul>
                        <li>A beautiful and customizable front-end, with the latest HTML5/CSS3/JavaScript frameworks</li>
                        <li>A robust and high-quality back-end, with the latest Java/Caching/Data access technologies</li>
                        <li>All automatically wired up, with security and performance in mind</li>
                        <li>And great developer tooling, for maximum productivity</li>
                    </ul>
                </section>
            </section>

            <section>
                <section data-background="#4d7e65" data-background-transition="slide">
                    <h1>Client-side technologies</h1>
                    <h3>Yeoman, Grunt/Gulp, Bower, Karma, AngularJS, Bootstrap</h3>
                </section>
                <section>
                    <h1>Yeoman</h1>
                    <h3>Yeoman provides application <i>generators</i></h3>
                    <ul>
                        <li>Hundreds of generators are available</li>
                        <li>Mostly geared toward JavaScript front-end applications</li>
                        <li>The top-rated generators have excellent quality</li>
                    </ul>
                    <pre>
							<code data-trim contenteditable>yo jhipster</code>
						</pre>
                </section>
                <section>
                    <h1>Grunt/Gulp</h1>
                    <h3>Grunt/Gulp is a JavaScript task runner</h3>
                    <ul>
                        <li>For development, it will allow you to have "live editing" of your code, run your tests in the background...</li>
                        <li>For production, it will compress and optimize all your resources, compile your Sass/Less code...</li>
                    </ul>
                    <pre>
							<code data-trim contenteditable>grunt test | gulp test</code>
						</pre>
                </section>
                <section>
                    <h1>Bower</h1>
                    <h3>Bower is a package manager for your JavaScript assets</h3>
                    <ul>
                        <li>You can search, install and update your JavaScript libraries</li>
                        <li>It provides a <i>huge</i> number of libraries</li>
                    </ul>
                    <pre>
							<code data-trim contenteditable>bower install angular</code>
						</pre>
                </section>
                <section>
                    <h1>Karma</h1>
                    <h3>Karma runs unit tests on your JavaScript code</h3>
                    <ul>
                        <li>It works with <i>Phantom.js</i>, a headless browser</li>
                        <li>It is <i>very</i> fast, and can run continously in the background</li>
                    </ul>
                    <pre>
							<code data-trim contenteditable>karma start src/test/javascript/karma.conf.js</code>
						</pre>
                </section>
                <section>
                    <h1>AngularJS</h1>
                    <h3>The most popular JavaScript framework</h3>
                    <ul>
                        <li>Powerful &amp; easy to learn</li>
                        <li>2 way data binding, form validation, custom elements, i18n... all out of the box</li>
                    </ul>
                    <pre>
							<code data-trim contenteditable>
<input type="text" ng-model="yourName" placeholder="Enter a name here">
<h1>Hello {{yourName}}!</h1>
							</code>
						</pre>
                </section>
                <section>
                    <h1>Twitter Bootstrap</h1>
                    <h3>Great CSS/JavaScript framework for responsive Web apps</h3>
                    <ul>
                        <li>CSS and HTML elements for all common usages</li>
                        <li>Tons of JavaScript components: menus, navbars, drop-down boxes, alerts...</li>
                    </ul>
                    <pre>
							<code data-trim contenteditable>
<div class="alert alert-success">
    <strong>Hello, world!</strong>
</div>
							</code>
						</pre>
                </section>
            </section>

            <section>
                <section data-background="#4d7e65" data-background-transition="slide">
                    <h1>Server-side technologies</h1>
                    <h3>Maven/Gradle, Spring, Spring MVC REST, Spring Data JPA, Spring Security</h3>
                </section>
                <section>
                    <h1>Maven/Gradle</h1>
                    <h3>The most popular Java build tools <br>(Ant is dead :P )</h3>
                    <ul>
                        <li>Well-known, pre-defined directories and goals</li>
                        <li>Integration with major IDEs</li>
                        <li>Great dependency management</li>
                        <li>Great plugin ecosystem, including Spring Boot and Yeoman</li>
                    </ul>
                    <pre>
							<code data-trim contenteditable>
mvn spring-boot:run | gradlew bootrun
							</code>
						</pre>
                </section>
                <section>
                    <h1>Spring Boot</h1>
                    <h3>Spring is the de-facto standard for Java apps</h3>
                    <ul>
                        <li>IoC, AOP and abstractions to ease application coding</li>
                        <li>Fast and lightweight, and extremely powerful <i>when needed</i>
                        </li>
                        <li>Out-of-the-box configuration by Spring Boot</li>
                    </ul>
                    <pre>
							<code data-trim contenteditable>
@Service
@Transactional
public class UserService {

    @Inject
    private UserRepository userRepository;

}
							</code>
						</pre>
                </section>
                <section>
                    <h1>Liquibase</h1>
                    <h3>Database updates made easy</h3>
                    <ul>
                        <li>Handles updating a database schema</li>
                        <li>Works great with Spring and JPA</li>
                        <li>Needs a good understanding of databases and ORM though!</li>
                    </ul>
                </section>
                <section>
                    <h1>JPA</h1>
                    <h3>The standard ORM solution for Java</h3>
                    <ul>
                        <li>Hibernate is used underneath</li>
                        <li>Very complete, impressive set of features</li>
                        <li>Still complex to understand for newbies!</li>
                    </ul>
                    <pre>
							<code data-trim contenteditable>
@Entity
public class User implements Serializable {

    @Id
    private String login;

}
							</code>
						</pre>
                </section>
                <section>
                    <h1>Spring Data JPA</h1>
                    <h3>Adds extra syntaxic sugar on top of JPA</h3>
                    <ul>
                        <li>Generate you JPA repositories <i>automatically</i>
                        </li>
                        <li>Removes a lot of boilerplate code</li>
                    </ul>
                    <pre>
							<code data-trim contenteditable>
public interface PersistenceAuditEventRepository extends JpaRepository&lt;PersistentAuditEvent, String&gt; {

    List&lt;PersistentAuditEvent&gt;
        findByPrincipalAndAuditEventDateGreaterThan(String principal, LocalDateTime after);

}
							</code>
						</pre>
                </section>
                <section>
                    <h1>MongoDB</h1>
                    <h3>NoSQL for scalability</h3>
                    <ul>
                        <li>Alternative to the SQL database and JPA choice</li>
                        <li>Similar code: Spring Data MongoDB works the same as Spring Data JPA</li>
                        <li>More scalable, easier to use</li>
                    </ul>
                </section>
                <section>
                    <h1>Cassandra</h1>
                    <h3>NoSQL for scalability</h3>
                    <ul>
                        <li>2nd alternative to the SQL database and JPA choice</li>
                        <li>Linear scalability and high availability</li>
                        <li>Extreme performance and low latency for mission-critical apps</li>
                    </ul>
                </section>
                <section>
                    <h1>Caching</h1>
                    <h3>Caching is king for performance</h3>
                    <ul>
                        <li>Ehcache is the most widely used solution</li>
                        <li>HazelCast is a great alternative, with clustering support!</li>
                        <li>Hibernate 2nd level cache or Spring Caching abstraction</li>
                    </ul>
                    <pre>
							<code data-trim contenteditable>
@Entity
@Cache(usage = CacheConcurrencyStrategy.NONSTRICT_READ_WRITE)
public class User implements Serializable {

}
							</code>
						</pre>
                </section>
                <section>
                    <h1>Spring Security</h1>
                    <h3>Bulletproof Security framework</h3>
                    <ul>
                        <li>Leading tool, widely used across all industries</li>
                        <li>Secures URLs and Java code (Spring Beans)</li>
                        <li>Works both with stateful (cookies) and stateless (OAuth2) Web application architectures</li>
                    </ul>
                </section>
                <section>
                    <h1>Spring MVC REST</h1>
                    <h3>The best REST framework in Java</h3>
                    <ul>
                        <li>Complete, high-performance REST solution</li>
                        <li>Great Spring support, great testing support</li>
                    </ul>
                    <pre>
							<code data-trim contenteditable>
@RestController
public class AccountResource {
    @RequestMapping(value = "/app/rest/account",
            method = RequestMethod.POST)
    public void saveAccount(@RequestBody UserDTO userDTO) {
        userService.updateUserInformation(userDTO);
    }
}
							</code>
						</pre>
                </section>
                <section>
                    <h1>Thymeleaf</h1>
                    <h3>Server-side templates</h3>
                    <ul>
                        <li>Used when a Single Web Page application isn't enough</li>
                        <li>Replaces JSPs and JSTLs, which are outdated and deprecated anyway</li>
                        <li>Great templates for Web designers</li>
                    </ul>
                    <pre>
							<code data-trim contenteditable>
<h1 th:text="#{title}">Hello, world</h1>
							</code>
						</pre>
                </section>
                <section>
                    <h1>Monitoring</h1>
                    <h3>Ready for production with Metrics</h3>
                    <ul>
                        <li>Formerly Yammer Metrics</li>
                        <li>Monitors the JVM, app server, Spring beans, cache, and more!</li>
                        <li>JMX or Graphite reporting</li>
                    </ul>
                    <pre>
							<code data-trim contenteditable>
@Timed
public void saveAccount(@RequestBody UserDTO userDTO) {
    userService.updateUserInformation(userDTO);
}
							</code>
						</pre>
                </section>
                <section>
                    <h1>Cloud deployment</h1>
                    <h3>To the cloud and beyond!</h3>
                    <ul>
                        <li>Deployments should be easy on-premise and in the cloud</li>
                        <li>Leading cloud providers like Cloud Foundry, Heroku and OpenShift all provide specific tooling and deployment options</li>
                    </ul>
                </section>

            </section>

            <section>
                <section data-background="#4d7e65" data-background-transition="slide">
                    <h1>Meet JHipster</h1>
                    <h3>Why all the hype?</h3>
                </section>

                <section>
                    <h3>We've seen lots of cool technologies</h3>
                    <ul>
                        <li>Can Grunt and Maven be friends?</li>
                        <li>Can AngularJS and Spring MVC REST be friends?</li>
                        <li>Having everything working together smoothly, with security, caching and monitoring, isn't easy...</li>
                    </ul>
                </section>
                <section>
                    <h3>JHipster makes everything just work together</h3>
                    <ul>
                        <li>JHipster creates a complete working application, with all those technologies</li>
                        <li>Everthing just works out-of-the-box</li>
                        <li>You have your Yeoman workflow working great with your Maven goals!</li>
                    </ul>
                </section>
                <section>
                    <h3>But wait, there's more!</h3>
                    <ul>
                        <li>"entity" sub-generator to generate a complete JPA entity, from database tables to AngularJS front end</li>
                        <li>"service" sub-generator to generate a Spring business service</li>
                        <li>"languages" sub-generator to add new i18n language support (18 out of the box)</li>
                        <li>Great support for Spring Security: Ajax endpoints, secured remember-me, audits...</li>
                        <li>Great monitoring screen using Metrics</li>
                    </ul>
                </section>
                <section>
                    <h3>Production-ready</h3>
                    <ul>
                        <li>Specific Spring profile with GZipping and HTTP caching headers</li>
                        <li>HTML, JavaScript &amp; CSS optimization and minification</li>
                        <li>Executable or standard WAR file, with monitoring enabled</li>
                        <li>"heroku", "openshift", "cloudfoundry" sub-generators for deploying automatically to cloud (AWS is on the way)</li>
                    </ul>
                </section>
                 <section>
                    <h1>Wait there's even more!</h1>
                </section>
                <section>
                    <h2>Meet JHipster-UML</h2>
                    <ul>
                        <li>Generate entities from UML model</li>
                        <li>Use your favorite UML tool or JDL(Jhipster Domain Language)</li>
                        <li>Modelio, UML Designer, GenMyModel and Visual Paradigm supported out of box</li>
                        <li>Easy to extend parser for other tools</li>
                    </ul>
                </section>
            </section>

            <section>
                <section data-background="#4d7e65" data-background-transition="slide">
                    <h1>Let's build our first app</h1>
                    <h3>10 minutes tutorial</h3>
                </section>
                <section>
                    <h1>Install Dependencies</h1>
                    <p>
                        Install Node.js and run below commands from CMD
                    </p>
                    <pre>
							<code data-trim contenteditable>
npm install -g yo
npm install -g bower
npm install -g generator-jhipster
							</code>
						</pre>
                </section>
                <section>
                    <h1>Create an application</h1>
                    <pre>
							<code data-trim contenteditable>
yo jhipster
mvn spring-boot:run | gradlew bootrun
							</code>
						</pre>
                </section>
                <section>
                    <h1>Client-side live reload</h1>
                    <p>
                        Live reload of your client-side code (HTML, CSS, JavaScript) works thanks to Grunt/Gulp. Edit any file and your browser will refresh automatically:
                    </p>
                    <pre>
							<code data-trim contenteditable>
grunt serve | gulp serve
							</code>
						</pre>
                </section>
                <section>
                    <h1>Add an entity</h1>
                    <pre>
							<code data-trim contenteditable>
yo jhipster:entity foo
							</code>
						</pre>
                </section>

                <section>
                    <h1>Run in production</h1>
                    <pre>
							<code data-trim contenteditable>
mvn -Pprod package | gradlew -Pprod bootRepackage
cd target/ | cd build/libs/
java -jar jhipster-0.0.1-SNAPSHOT.war --spring.profiles.active=prod
							</code>
						</pre>

                </section>

            </section>
            <section>
                <section data-background="#4d7e65" data-background-transition="slide">
                    <h1>Complete Stack & Features OOB</h1>
                </section>

                <section>
                    <h3>Client Side</h3>
                    <ul>
                        <li><b>HTML Framework:</b> HTML5 Boilerplate</li>
                        <li><b>CSS Framework:</b> Bootstrap 3 (Saas supported with compass)</li>
                        <li><b>MVC Framework:</b> Angular JS</li>
                        <li><b>i18N:</b> Angular Translate (18 language supported OOB), i18n can be optional</li>
                        <li><b>Websocket:</b> sock-js, stomp</li>
                        <li><b>HTML Templates:</b> Thymeleaf</li>

                    </ul>
                </section>
                <section>
                    <h3>Server Side</h3>
                    <ul>
                        <li><b>Framework:</b> Spring Boot</li>
                        <li><b>Security:</b> Spring Security (session, Oauth2, Token)</li>
                        <li><b>MVC Framework:</b> Spring MVC REST + Jackson</li>
                        <li><b>SQL DAO:</b> MySQL/Posgres/Oracle + Spring Data JPA + Bean Validation + JPA + Hibernate</li>
                        <li><b>NoSQL DAO:</b> MongoDB or Cassandra with custom wrapper implementations</li>
                        <li><b>DB management:</b> Liquibase (DB version control)</li>
                        <li><b>Cache:</b> EhCache or Hazelcast</li>
                        <li><b>Logging:</b> Logback with runtime configuration</li>
                        <li><b>Monitoring:</b> Metrics</li>
                        <li><b>Connection pooling:</b> HikariCP</li>
                        <li><b>API Docs:</b> Swagger2</li>
                    </ul>
                </section>
                <section>
                    <h3>Other features</h3>
                    <ul>
                        <li><b>Client side testing:</b> KarmaJS + PhantomJS + Angular Mocks + Grunt/Gulp</li>
                        <li><b>Server Side Testing:</b> JUnit + Spring Boot-Test + Mockito &amp; Gatling(performance testing)</li>
                        <li><b>Client Side Build:</b> Grunt/Gulp + bower for dependency management</li>
                        <li><b>Server Side Build:</b> Maven/Gradle (Integrated with client side build task and test tasks) </li>
                        <li><b>Other features:</b> Gzip filters, cache headers, Live reload, browser sync, session clustering, spring profiles, validation etc.</li>
                    </ul>
                </section>


            </section>
            <section>
                <section data-background="#4d7e65" data-background-transition="slide">
                    <h1>Real world application & Challenges</h1>
                </section>

                <section>
                    <h3>Enterprise buy in</h3>
                    <ul>
                        <li>Traditional Application server eco system</li>
                        <li>Integration with legacy systems</li>
                        <li>Complex Role Mangement scenarios</li>
                    </ul>
                </section>
                 <section>
                    <h3>Developer buy in</h3>
                    <ul>
                        <li>Continuous Integration</li>
                        <li>Too much of Spring and Angular magic</li>
                        <li>Fear of the unknown</li>
                    </ul>
                </section>
            </section>
            <section>
                <h1>Questions?</h1>
            </section>
            <section>
                <h1>Thank you for your attention</h1>
                <p>
                    Original presentation from <a href="http://jhipster.github.io/presentation">http://jhipster.github.io</a> by <a href="https://twitter.com/juliendubois">Julien Dubois</a>
                </p>
            </section>


        </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>
        // Full list of configuration options available here:
        // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,

            theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
            transition: Reveal.getQueryHash().transition || 'concave', // default/cube/page/concave/zoom/linear/fade/none

            // Parallax scrolling
            // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
            // parallaxBackgroundSize: '2100px 900px',

            // Optional libraries used to extend on reveal.js
            dependencies: [
                {
                    src: 'lib/js/classList.js',
                    condition: function () {
                        return !document.body.classList;
                    }
                },
                {
                    src: 'plugin/markdown/marked.js',
                    condition: function () {
                        return !!document.querySelector('[data-markdown]');
                    }
                },
                {
                    src: 'plugin/markdown/markdown.js',
                    condition: function () {
                        return !!document.querySelector('[data-markdown]');
                    }
                },
                {
                    src: 'plugin/highlight/highlight.js',
                    async: true,
                    callback: function () {
                        hljs.initHighlightingOnLoad();
                    }
                },
                {
                    src: 'plugin/zoom-js/zoom.js',
                    async: true,
                    condition: function () {
                        return !!document.body.classList;
                    }
                },
                {
                    src: 'plugin/notes/notes.js',
                    async: true,
                    condition: function () {
                        return !!document.body.classList;
                    }
                }
    ]
        });
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74370272-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>

</html>
